<div class="container mt-3 text-center">
    <h1 style="color: green;">
        Teste Técnico Confitec Angular
    </h1>

    <div class="container mt-3"
         style="width: 600px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                  Raifran Martins</h4>
                <p class="card-text">
                    Modelo Master Datail utilizando Bootstrap e outros plugins
                </p>

                <a href="https://www.linkedin.com/in/raifran-martins-367a48148" class="card-link">
                    https://www.linkedin.com/in/raifran-martins-367a48148
                </a>
                <span>
                    raifranbsb@hotmail.com
                </span>

            </div>
        </div>
    </div>
</div>